/* ------------------------------------------------------------------ */
/*        BREAKPOINTS FOR MOBILE FIRST MIXINS
/* ------------------------------------------------------------------ */

$bp-mobile: 320px;
$bp-tablet: 600px;
$bp-desktop: 1024px;

$bps: (
    'mobile': $bp-mobile,
    'tablet': $bp-tablet,
    'desktop': $bp-desktop,
);

/* ------------------------------------------------------------------ */
/*        COLORS
/* ------------------------------------------------------------------ */

$dusty-gray: #949494;
$havelock-blue: #44A3DC;
$mercury: #F9F9F9;
$mine-shaft: #383838;
$pacific-blue: #00a4bd;
$silver: #ccc;
$tango: #ef742f;
$white: #fff;

/* ------------------------------------------------------------------ */
/*        BASE FONT SIZE
/* ------------------------------------------------------------------ */

$base-size: 16;